body {
    background-color: rgb(124, 21, 21);
}
#wo{
    width:11%; 
    float:left;

}

.word {
    color: white;
    font: size 20px;
    text-align: center;
    width:89%; 
    float:right;
}


  h1{
    color:white;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;

}

h2,p,figcaption{
    color:white;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.image2 {
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px red solid;
    height: 750px;
    width: 1100px;
  }

.image1 {
    position: absolute;
    top: 270px;
    left: 100px;
    border: 1px green solid;
  }
table{
    text-align:justify;
    color:white;
    font: size 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#l{
    color: white;
    font: size 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}